In [29]:
import pandas as pd

In [2]:
### Abrimos ficheros.
Objeto = pd.read_csv("Objeto.csv",sep=";")
Precio = pd.read_csv("Precio.csv",sep=";",decimal= ",")
Tienda = pd.read_csv("Tienda.csv",sep=";")

## Mediante columnas vemos los nombres de los campos para poder hacer los merges
print(Precio.columns)
print(Objeto.columns)
print(Tienda.columns)

## vamos a comprobar que los campos "key" tienen solo un valor antes de hacer el merge

f ,c = Objeto.shape
print(f- len(set(Objeto['Key_Objeto'])))

f ,c = Tienda.shape
print(f- len(set(Tienda['Key_Tienda'])))

Index(['Key_Objeto', 'Key_Tienda', 'Precio', 'Fecha_Entrada'], dtype='object')
Index(['Key_Objeto', 'Nombre'], dtype='object')
Index(['Key_Tienda', 'Tienda'], dtype='object')
0
0

In [3]:
## Hacemos el merge 

## Precio + Objeto
Total_DF = Precio.merge(Objeto, on='Key_Objeto', how='left')

## AÃ±ado Tienda
Total_DF = Total_DF.merge(Tienda, on='Key_Tienda', how='left')


Total_DF.head()

   Key_Objeto  Key_Tienda       Precio Fecha_Entrada    Nombre      Tienda
0       86060          10   613.629998    2020-08-13  ADDADIIA  Tienda_302
1      243600          10  1481.645588    2020-06-30  AIADIDAA  Tienda_302
2      243601          10   840.673657    2020-06-30  AIADIDAA  Tienda_302
3      544634          10  1040.701988    2020-08-12  AJDIAAIA  Tienda_302
4      544636          10  1979.095188    2020-08-12  AJDIAAIA  Tienda_302

In [9]:
Total_DF  =Total_DF.drop(['Key_Objeto','Key_Tienda'],axis=1)
Total_DF.shape

(151688, 4)

In [74]:
ANOVA = pd.DataFrame(Total_DF.groupby(['Tienda','Nombre'])['Precio'].mean())
print(ANOVA)
ANOVA = ANOVA.unstack(0)
print(ANOVA)



##pivoted = chi2.pivot(index='Nombre',columns='Tienda',values='Precio')

                          Precio
Tienda     Nombre
Tienda_112 AAAJDDJA   611.761582
           AADAJDJA  -151.836098
           AADJAIIA  1337.881077
           ADAAIIIA   748.278432
           ADADIDAD  -659.412296
...                          ...
Tienda_732 AIAJJJIJ  1211.902768
           AIAJJJJA   941.408104
           AIAJJJJD  1688.534454
           AIJAIIAD   537.545492
           AIJDIADD  1177.890999

[10748 rows x 1 columns]
               Precio
Tienda     Tienda_112   Tienda_302 Tienda_652 Tienda_732
Nombre
AAAAAAAA          NaN  1129.864869        NaN        NaN
AAAAAADA          NaN   719.407188        NaN        NaN
AAAAAAIA          NaN  1106.618803        NaN        NaN
AAAAAAJA          NaN   978.343061        NaN        NaN
AAAAADAA          NaN   860.602212        NaN        NaN
...               ...          ...        ...        ...
AJJJIDDA          NaN  1566.025154        NaN        NaN
AJJJIDIA          NaN  1636.767457        NaN        NaN
AJJJIJDA          NaN   399.257471        NaN        NaN
IDAIADA   1292.869932          NaN        NaN        NaN
IJIIIAA    -84.264983          NaN        NaN        NaN

[8041 rows x 4 columns]

In [68]:
ANOVA = pd.read_csv("ANOVA.csv",sep=";",columns = ['Objeto','Tienda 112','Tienda 302','Tienda 652','Tienda 732'])

TypeError: read_csv() got an unexpected keyword argument 'columns'