# Prueba de Conociemiento


### Ejercicio 2

## Nombre de los componentes

- Juan

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns 
import os 
import os.path
from pathlib import Path
from datetime import datetime
from datetime import timedelta

In [2]:
#importamos ficheros
gestiones = pd.read_csv("/home/eduardo/Downloads/Gestiones.csv",sep=";")
movimientos = pd.read_csv("/home/eduardo/Downloads/Movimientos.csv",sep=";")

In [3]:
#verificamos la informacion del datraframe por si tenemos NA's
gestiones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2124392 entries, 0 to 2124391
Data columns (total 4 columns):
 #   Column       Dtype
---  ------       -----
 0   id_contrato  int64
 1   fecha_alta   object
 2   id_gestion   int64
 3   estrategia   float64
dtypes: float64(1), int64(2), object(1)
memory usage: 64.8+ MB

In [4]:
#verificamos la informacion del datraframe por si tenemos NA's
movimientos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21316 entries, 0 to 21315
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_contrato    21316 non-null  int64
 1   fecha_recobro  21316 non-null  object
 2   principal      21316 non-null  object
 3   gastos         21316 non-null  object
 4   intereses      21316 non-null  object
dtypes: int64(1), object(4)
memory usage: 832.8+ KB

In [5]:
#vemos el head del data frame para darnos 
movimientos.head(10)

   id_contrato fecha_recobro principal gastos intereses
0     27001453    2020-11-04    131,61      0         0
1     27001483    2020-11-25         0  47,53         0
2     27022011    2020-11-19    117,56      0         0
3     27022133    2020-11-03    519,24      0         0
4     27022133    2020-11-05     374,6      0         0
5     27022237    2020-11-12     16,14      0         0
6     27022237    2020-11-19    102,13      0         0
7     27022237    2020-11-22     16,06      0         0
8     27022237    2020-11-25     669,2      0         0
9     27022305    2020-11-21       200      0         0

In [6]:
gestiones.head(10)

   id_contrato           fecha_alta  id_gestion  estrategia
0     27158634  2020-10-01 09:33:48           1       101.0
1     27161639  2020-10-01 09:34:30           1       101.0
2     27162169  2020-10-01 09:35:55           1       101.0
3     27164007  2020-10-01 09:36:38           1       101.0
4     27126831  2020-10-01 09:50:25           1       101.0
5     27031658  2020-10-01 10:04:49           1       106.0
6     27030648  2020-10-01 10:14:42           1       106.0
7     27069515  2020-10-01 10:16:50           1       107.0
8     27097145  2020-10-01 10:19:36           1       106.0
9     27137603  2020-10-01 10:27:58           1       103.0

In [7]:
movimientos["cobros"] = movimientos["principal"] + movimientos["gastos"] + movimientos["intereses"]

In [8]:
movimientos.head(10)

   id_contrato fecha_recobro principal gastos intereses    cobros
0     27001453    2020-11-04    131,61      0         0  131,6100
1     27001483    2020-11-25         0  47,53         0   047,530
2     27022011    2020-11-19    117,56      0         0  117,5600
3     27022133    2020-11-03    519,24      0         0  519,2400
4     27022133    2020-11-05     374,6      0         0   374,600
5     27022237    2020-11-12     16,14      0         0   16,1400
6     27022237    2020-11-19    102,13      0         0  102,1300
7     27022237    2020-11-22     16,06      0         0   16,0600
8     27022237    2020-11-25     669,2      0         0   669,200
9     27022305    2020-11-21       200      0         0     20000

In [9]:
#combinamos los dataframes
new_df = movimientos.merge(gestiones, how='inner', on="id_contrato")

In [10]:
new_df.head(10)

,id_contrato,fecha_recobro,principal,gastos,intereses,cobros,fecha_alta,id_gestion,estrategia
0,27001453,2020-11-04,"131,61",0,0,"131,6100",2020-10-02 22:25:00,6,46.0
1,27001453,2020-11-04,"131,61",0,0,"131,6100",2020-10-05 22:25:00,6,46.0
2,27001453,2020-11-04,"131,61",0,0,"131,6100",2020-10-07 22:25:00,6,46.0
3,27001453,2020-11-04,"131,61",0,0,"131,6100",2020-10-10 22:25:00,6,46.0
4,27001453,2020-11-04,"131,61",0,0,"131,6100",2020-10-13 22:25:00,6,46.0
5,27001453,2020-11-04,"131,61",0,0,"131,6100",2020-10-15 22:25:00,6,46.0
6,27001453,2020-11-04,"131,61",0,0,"131,6100",2020-10-17 22:25:00,6,46.0
7,27001453,2020-11-04,"131,61",0,0,"131,6100",2020-10-19 22:25:00,6,46.0
8,27001453,2020-11-04,"131,61",0,0,"131,6100",2020-10-21 22:25:00,6,46.0
9,27001453,2020-11-04,"131,61",0,0,"131,6100",2020-10-23 22:25:00,6,46.0

In [11]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 472567 entries, 0 to 472566
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   id_contrato    472567 non-null  int64
 1   fecha_recobro  472567 non-null  object
 2   principal      472567 non-null  object
 3   gastos         472567 non-null  object
 4   intereses      472567 non-null  object
 5   cobros         472567 non-null  object
 6   fecha_alta     472567 non-null  object
 7   id_gestion     472567 non-null  int64
 8   estrategia     472567 non-null  float64
dtypes: float64(1), int64(2), object(6)
memory usage: 36.1+ MB

In [12]:
new_df['fecha_alta'] = pd.to_datetime(new_df["fecha_alta"],format="%Y-%m-%d")

In [13]:
new_df["fecha_recobro"] = pd.to_datetime(new_df["fecha_recobro"],format="%Y-%m-%d")

In [14]:
new_df["new_date"] = new_df["fecha_recobro"] - timedelta(days=30)

In [15]:
new_df["boleano"] =""

In [16]:
def resultado_fecha(fila):
    fecha_1 = fila.fecha_alta
    fecha_2 = fila.new_date
    if fecha_1 < fecha_2:
        return True
    else:
        return False

In [17]:
new_df['boleano'] = new_df.apply(resultado_fecha, axis=1)

In [18]:
new_df_grouped = new_df.drop(new_df[new_df.boleano == False].index)

In [19]:
new_df_grouped.head(10)

,id_contrato,fecha_recobro,principal,gastos,intereses,cobros,fecha_alta,id_gestion,estrategia,new_date,boleano
0,27001453,2020-11-04,"131,61",0,0,"131,6100",2020-10-02 22:25:00,6,46.0,2020-10-05,True
77,27022305,2020-11-21,200,0,0,20000,2020-10-02 22:25:00,6,107.0,2020-10-22,True
78,27022305,2020-11-21,200,0,0,20000,2020-10-05 22:25:00,6,107.0,2020-10-22,True
79,27022305,2020-11-21,200,0,0,20000,2020-10-07 22:25:00,6,107.0,2020-10-22,True
89,27022305,2020-11-21,200,0,0,20000,2020-10-21 00:00:00,41,107.0,2020-10-22,True
91,27022305,2020-11-30,"768,9",0,0,"768,900",2020-10-02 22:25:00,6,107.0,2020-10-31,True
92,27022305,2020-11-30,"768,9",0,0,"768,900",2020-10-05 22:25:00,6,107.0,2020-10-31,True
93,27022305,2020-11-30,"768,9",0,0,"768,900",2020-10-07 22:25:00,6,107.0,2020-10-31,True
103,27022305,2020-11-30,"768,9",0,0,"768,900",2020-10-21 00:00:00,41,107.0,2020-10-31,True
121,27022346,2020-11-20,"76,11",0,0,"76,1100",2020-10-08 00:00:00,41,106.0,2020-10-21,True

In [20]:
new_df_grouped['cobro_por_estrategia']=''

In [21]:
lista =[1 ,  14  , 45 , 105 ,1083 ,5492, 5997 ,6242, 6245 ,6297 ,6298 ,6299 ,6300 ,6301 ,6304 ,6305, 6306, 6311 ,6315 ,6316 ,6317 ,6319 ,6320 ,6322, 6326, 6327,6328 ,6329 ,6330, 6423 ]

In [36]:
new_df_grouped_2 = new_df_grouped[(new_df_grouped.estrategia==103) &( new_df_grouped.id_gestion.isin(lista))]

In [41]:
new_df_grouped_2.drop_duplicates(subset=['id_contrato','fecha_recobro'])

,id_contrato,fecha_recobro,principal,gastos,intereses,cobros,fecha_alta,id_gestion,estrategia,new_date,boleano,cobro_por_estrategia
79898,27142396,2020-11-26,"576,17",0,0,"576,1700",2020-10-23 13:29:54,1,103.0,2020-10-27,True,
86975,27153137,2020-11-26,"1160,66",0,0,"1160,6600",2020-10-24 09:15:25,1,103.0,2020-10-27,True,
157286,27181150,2020-11-24,"802,6",0,0,"802,600",2020-10-07 12:19:07,6320,103.0,2020-10-25,True,
162494,27181910,2020-11-23,"11,25",0,0,"11,2500",2020-10-06 20:37:02,6319,103.0,2020-10-24,True,
162530,27181910,2020-11-24,"628,19",0,0,"628,1900",2020-10-06 20:37:02,6319,103.0,2020-10-25,True,
178523,27188623,2020-11-18,"15,25",0,0,"15,2500",2020-10-09 13:29:30,6320,103.0,2020-10-19,True,
178543,27188623,2020-11-24,"245,52",0,0,"245,5200",2020-10-09 13:29:30,6320,103.0,2020-10-25,True,
182740,27189456,2020-11-24,"789,88",0,0,"789,8800",2020-10-08 13:01:56,6320,103.0,2020-10-25,True,
182898,27189509,2020-11-28,"44,75",0,0,"44,7500",2020-10-08 09:50:22,1,103.0,2020-10-29,True,
192629,27193628,2020-11-11,40,0,0,4000,2020-10-08 13:14:35,6320,103.0,2020-10-12,True,
192697,27193628,2020-11-24,"751,38",0,0,"751,3800",2020-10-16 17:18:40,6319,103.0,2020-10-25,True,
197913,27198075,2020-11-24,"574,5",0,0,"574,500",2020-10-22 20:37:47,1,103.0,2020-10-25,True,
203912,27198763,2020-11-24,"208,55",0,0,"208,5500",2020-10-15 19:25:13,6320,103.0,2020-10-25,True,
205381,27198978,2020-11-18,"33,6",0,0,"33,600",2020-10-15 12:29:59,1,103.0,2020-10-19,True,
205409,27198978,2020-11-23,"553,56",0,0,"553,5600",2020-10-15 12:29:59,1,103.0,2020-10-24,True,
205677,27198999,2020-11-24,"882,08",0,0,"882,0800",2020-10-17 10:42:37,1,103.0,2020-10-25,True,
207248,27199360,2020-11-24,"578,82",0,0,"578,8200",2020-10-22 14:04:20,1,103.0,2020-10-25,True,
210076,27199663,2020-11-24,"3,37",0,0,"3,3700",2020-10-21 09:17:47,6320,103.0,2020-10-25,True,
212576,27200151,2020-11-28,"208,17",0,0,"208,1700",2020-10-15 17:57:21,6320,103.0,2020-10-29,True,
213735,27200401,2020-11-24,"509,86",0,0,"509,8600",2020-10-21 09:45:37,1,103.0,2020-10-25,True,
213870,27200493,2020-11-24,"308,75",0,0,"308,7500",2020-10-23 19:51:39,1,103.0,2020-10-25,True,
214484,27201385,2020-11-24,"622,19",0,0,"622,1900",2020-10-16 14:57:47,1,103.0,2020-10-25,True,
215169,27201471,2020-11-24,"594,22",0,0,"594,2200",2020-10-21 10:03:19,1,103.0,2020-10-25,True,
225414,27204956,2020-11-24,"541,81",0,0,"541,8100",2020-10-21 09:27:45,5492,103.0,2020-10-25,True,
228204,27205304,2020-11-24,"113,29",0,0,"113,2900",2020-10-23 09:11:12,6320,103.0,2020-10-25,True,

In [42]:
new_df_grouped_2['cobro_por_estrategia']=  1.5

In [43]:
new_df_grouped_2.head(10)

,id_contrato,fecha_recobro,principal,gastos,intereses,cobros,fecha_alta,id_gestion,estrategia,new_date,boleano,cobro_por_estrategia
79898,27142396,2020-11-26,"576,17",0,0,"576,1700",2020-10-23 13:29:54,1,103.0,2020-10-27,True,1.5
79941,27142396,2020-11-26,"576,17",0,0,"576,1700",2020-10-23 14:07:33,6319,103.0,2020-10-27,True,1.5
79942,27142396,2020-11-26,"576,17",0,0,"576,1700",2020-10-17 11:26:36,6320,103.0,2020-10-27,True,1.5
86975,27153137,2020-11-26,"1160,66",0,0,"1160,6600",2020-10-24 09:15:25,1,103.0,2020-10-27,True,1.5
87000,27153137,2020-11-26,"1160,66",0,0,"1160,6600",2020-10-22 12:47:14,5492,103.0,2020-10-27,True,1.5
87001,27153137,2020-11-26,"1160,66",0,0,"1160,6600",2020-10-21 10:31:12,6320,103.0,2020-10-27,True,1.5
87006,27153137,2020-11-26,"1160,66",0,0,"1160,6600",2020-10-20 10:52:48,6326,103.0,2020-10-27,True,1.5
157286,27181150,2020-11-24,"802,6",0,0,"802,600",2020-10-07 12:19:07,6320,103.0,2020-10-25,True,1.5
157287,27181150,2020-11-24,"802,6",0,0,"802,600",2020-10-16 14:02:41,6320,103.0,2020-10-25,True,1.5
162494,27181910,2020-11-23,"11,25",0,0,"11,2500",2020-10-06 20:37:02,6319,103.0,2020-10-24,True,1.5

In [44]:
new_df_grouped_3 = new_df_grouped[(new_df_grouped.estrategia!=103) &( new_df_grouped.id_gestion.isin(lista))]

In [ ]:
#new_df_grouped_3['cobro_por_estrategia']=  new_df_grouped_3['cobros']*0.4